<div class="home-container">
  <header class="cabecalho-home">
    <h1>A História da Nintendo</h1>
    <nav class="navbar-home">
      <a href="#fundacao">Fundação</a>
      <a href="#brinquedos">Brinquedos</a>
      <a href="#arcades">Arcades</a>
      <a href="#consoles">Consoles</a>
    </nav>
  </header>

  <main class="conteudo-home">
    <section id="fundacao">
      <h2>1889: A Fundação como uma Empresa de Cartas</h2>
      <p>A Nintendo foi fundada em 1889 por Fusajiro Yamauchi como uma empresa que produzia cartas de baralho artesanais chamadas "Hanafuda". Graças à sua qualidade, as cartas rapidamente se tornaram populares no Japão, estabelecendo a base para o futuro da companhia.</p>
      <img src="assets/img-nintendo/CI_News_HanafudaCards_09.jpg" alt="Cartas Hanafuda da Nintendo">
    </section>

    <section id="brinquedos">
      <h2>Década de 1960: Expansão para Brinquedos</h2>
      <p>Na década de 1960, sob a liderança do neto do fundador, Hiroshi Yamauchi, a Nintendo começou a explorar novos mercados. A empresa aventurou-se na produção de brinquedos, alcançando grande sucesso com produtos inovadores como o "Ultra Hand", um braço de plástico extensível.</p>
       <img src="assets/img-nintendo/H2x1_News_HanafudaCards_enGB.jpg" alt="Brinquedo Ultra Hand da Nintendo">
    </section>

    <section id="arcades">
      <h2>Décadas de 1970-1980: A Era dos Arcades</h2>
      <p>A Nintendo entrou no crescente mercado de jogos eletrônicos com os arcades. O ponto de virada veio em 1981 com o lançamento de "Donkey Kong", um jogo revolucionário criado pelo lendário designer Shigeru Miyamoto. Este jogo não só foi um sucesso estrondoso, como também apresentou ao mundo o personagem Mario (inicialmente chamado de 'Jumpman').</p>
      <img src="assets/img-nintendo/donkey-kong-arcade.jpg" alt="Arcade Donkey Kong">
    </section>

    <section id="consoles">
      <h2>1983-Presente: Revolucionando os Consoles Domésticos</h2>
      <p>Com o lançamento do Famicom no Japão em 1983 (que se tornaria o Nintendo Entertainment System - NES - no resto do mundo), a Nintendo revitalizou sozinha uma indústria de videogames que estava em crise. Desde então, continuou a inovar com consoles icônicos como o Super Nintendo, Nintendo 64, GameCube, Wii, e o híbrido de sucesso, o Nintendo Switch, encantando gerações de jogadores em todo o mundo.</p>
       <img src="assets/img-nintendo/evolucao-consoles-nintendo.jpeg" alt="Evolução dos consoles Nintendo">
    </section>
  </main>
</div>
