<header >
   <nav class="navbar-home">
      <a routerLink="/home">História</a>
      <a routerLink="/pagina-inicial">Consoles</a>
      <a routerLink="/novidades">Novidades</a>
      <a routerLink="/cadastro">Cadastro</a>
      <a routerLink="/login">Login</a>
   </nav>
</header>

<div class="cadastro-container">
  <div class="cadastro-box">
    <h2>Cadastro</h2>
    <form >
      <div class="input-group">
        <label for="displayName">Nome</label>
        <input type="text" id="displayName" name="displayName" [(ngModel)]="user.displayName" required>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
      </div>
      <div class="input-group">
        <label for="new-password">Senha</label>
        <input type="password" id="new-password" name="new-password" [(ngModel)]="user.password" required>
      </div>
      <div class="input-group-lgpd">
        <input type="checkbox" id="lgpd" name="lgpd" [(ngModel)]="lgpdAccepted">
        <label for="lgpd">Eu li e concordo com os <a href="/termos-de-uso" target="_blank">termos de uso e a política de privacidade</a> de acordo com a LGPD.</label>
      </div>
      <button type="button" (click)="cadastrar()" class="cadastro-button">Cadastrar</button>
    </form>
  </div>
</div>
