.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d3139093-f1c4-4621-b7bc-30aeeff7178a/djhmbsb-c8262421-c7f8-4b23-8114-da7cb7b633c3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2QzMTM5MDkzLWYxYzQtNDYyMS1iN2JjLTMwYWVlZmY3MTc4YVwvZGpobWJzYi1jODI2MjQyMS1jN2Y4LTRiMjMtODExNC1kYTdjYjdiNjMzYzMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Niksp4VzBVRY6MhBMQ8u7-TK536XH6mmn290e7Ti92Q');
}

.background-container {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d3139093-f1c4-4621-b7bc-30aeeff7178a/djhmbsb-c8262421-c7f8-4b23-8114-da7cb7b633c3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2QzMTM5MDkzLWYxYzQtNDYyMS1iN2JjLTMwYWVlZmY3MTc4YVwvZGpobWJzYi1jODI2MjQyMS1jN2Y4LTRiMjMtODExNC1kYTdjYjdiNjMzYzMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Niksp4VzBVRY6MhBMQ8u7-TK536XH6mmn290e7Ti92Q');
  background-size: 50% !important;
  background-position: center;
  position: relative;
}

.login-box {
  background: #fff;
  font-family: 'Press Start 2P', cursive;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #E60012;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #c00;
}

.navbar-home {
  position: absolute; /* Posiciona a navbar sobre o container */
  top: 4rem;        /* Distância do topo (ajuste conforme necessário) */
  left: 0;
  right: 0;
  z-index: 10;      /* Garante que a navbar fique na frente de outros elementos */
  text-align: center;
  padding-bottom: 1rem;
}

.navbar-home a {
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: #495057;
  margin: 0 20px;
  font-size: 1.25rem;
  transition: color 0.3s ease-in-out;
}

.navbar-home a:hover {
  color: #E60012;
}

.input-group-remember {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.input-group-remember label {
  margin-left: 8px;
  color: #666;
  cursor: pointer;
}

.link-esqueci-senha {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  color: #495057;
  text-align: left;
  margin-top: 0%;
  margin-bottom: 5%;
}

.link-cadastro {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  color: #495057;
  display: block;
  margin-top: -3%;
  margin-bottom: 3%;
  text-align: left;
}

