/* You can add global styles to this file, and also import other style files */
.main-container {
  font-family: 'Press Start 2P', cursive;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.auth-nav .auth-button {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-nav .login {
  background-color: #E60012; /* Vermelho Nintendo */
}

.auth-nav .register {
  background-color: #3c3c3c; /* Cinza */
}

.auth-nav .auth-button:hover {
  opacity: 0.9;
}