<div class="user-profile-container" (click)="toggleMenu()">
  <i class="fas fa-user-circle profile-icon"></i>
  <div class="dropdown-menu" *ngIf="isMenuOpen">
    <ng-container *ngIf="isLoggedIn$ | async; else guestMenu">
      <a routerLink="/home">História</a>
      <a routerLink="/pagina-inicial">Consoles</a>
      <a routerLink="/novidades">Novidades</a>
      <a routerLink="/notificacoes">Notificações</a>
      <a (click)="logout()">Log Out</a>
    </ng-container>
    <ng-template #guestMenu>
      <a routerLink="/login">Login</a>
      <a routerLink="/cadastro">Cadastre-se</a>
    </ng-template>
  </div>
</div>
