<div class="background-container">
  
  <nav class="navbar-home">
    <a href="/home">História</a>
    <a href="/pagina-inicial">Consoles</a>
    <a href="/login">Login</a>
    <a href="/cadastro">Cadastro</a>
  </nav>

  <main class="content-wrapper">
    <section class="hero">
      <div class="hero-conteudo">
        <h1>A História da Nintendo</h1>
        <p>Uma jornada através das eras de inovação e diversão.</p>
      </div>
    </section>

    <div class="search-bar-container">
      <input type="text" class="search-bar" placeholder="Pesquisar eventos..." [(ngModel)]="termoBusca" (input)="aplicarFiltrosEOrdenar()">
    </div>

    <section class="container-timeline">
      <div class="timeline">
        @for (evento of historiaFiltrada; track evento.ano; let i = $index) {
          <div class="timeline-item" [@slideIn]="$index % 2 === 0 ? 'esquerda' : 'direita'" (click)="selecionarEvento(evento)">
            <app-card-evento [evento]="evento" />
          </div>
        }
      </div>
    </section>
  </main>

</div>

<div class="modal-overlay" *ngIf="eventoSelecionado" (click)="fecharDetalhes()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="fecharDetalhes()">X</button>
    <img [src]="eventoSelecionado.imagem" [alt]="eventoSelecionado.titulo" class="modal-image">
    
    <div class="modal-body">
      <h2>{{ eventoSelecionado.titulo }}</h2>
      <p class="modal-year">{{ eventoSelecionado.ano }}</p>
      <p>{{ eventoSelecionado.descricao }}</p>
    </div>

  </div>
</div>